.redesocial{
    width:100%;
    text-align: center;
    background: #FFBF00;
    color: black;
  }
  .socialmedia{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
   
  }
  .instagram{
    width: 15%;
  }