*{
  margin: 0;
  padding: 0;
  font-family: 'Victor Mono', monospace, sans-serif;
  background:transparent;
}

footer{
  align-items: center;
  text-align: center;
  background-color: #f444;
  border-radius: 5px;
  border: 1px solid;
}